.btn {
    background-color: var(--main-color);
    padding: 16px 20px;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 3px;
    font-size: var(--font-size);
    color: white;
    transition: all var(--transition);
}

.btn:hover {
    background-color: var(--main-color-hover);
    color: var(--site-color);
    scale: 1.1;
}

.d-flex {
    display: flex;
}

.flex-a-center {
    align-items: center;
}

.flex-j-center {
    justify-content: center;
}

.flex-all-center {
    align-items: center;
    justify-content: center;
}

.flex-a-start {
    align-items: flex-start;
}

.t-left {
    text-align: left;
}

.pt-0 {
  padding-top: 0;
}

.f-white {
    color: white;
}
