.cardOverview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.pCardImg {
  width: 100%;
  transition: scale var(--transition);
}

.pInfo .pCardImg {
  width: 100%;
  height: 225px;
}

.pCardImg img {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 16px 16px 16px;
  text-align: center;
  width: 100%;
  border: 1px solid #c8c7c763;
  box-shadow: 2px 2px 6px #ffffff83;
  transition: scale var(--transition);
}

.card h2 {
  font-size: 28px;
}

.pCard {
  max-width: 200px;
  cursor: pointer;
}

.pCard:hover {
  scale: 1.05;
}

.card:hover .pCardImg {
  scale: 1.4;
  transition: scale var(--transition);
}

.pCardTypes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pCardTypes img {
  border-radius: 50%;
  width: 32px;
  box-shadow: 1px 1px 5px;
  cursor: auto;
}

.pId {
  font-size: var(--font-size);
  font-weight: bold;
  background-color: var(--main-color);
  padding: 4px;
  margin: 0 auto 0 0;
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 2px;
  border-radius: 8px;
  width: 48px;
}

.pinfoHeader .pId {
  height: 32px;
}

.pId p {
  color: white;
}

.pInfo:hover .pCardImg {
  scale: 1;
}

.pInfo {
  width: 100%;
  max-width: 500px;
  padding: 24px;
}

.pInfo .pId {
  width: 72px;
  line-height: 1.5em;
  margin: 0;
}

.pinfoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pInfo h2 {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 3px var(--color-darkgrey);
}

.pCardImg {
  max-width: 50%;
}

.pType {
  width: 72px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.categorySelector {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.categoryBtn {
  padding: 8px 16px;
  background-color: white;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 1px 1px 1px var(--color-darkgrey);
  position: relative;
  transition: all var(--transition);
}

.categoryBtn:hover,
.active {
  background-color: var(--main-color);
  color: white;
}

.active::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
}

.categoryInfoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.categoryInfobox {
  position: relative;
  height: 258px;
  padding: 32px;
  font-weight: bold;
  overflow: auto;
  background-image: url(../assets/img/pokeball.png);
  background-size: 80%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.infoboxBackgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  height: 100%;
}

.infoRow img {
  max-width: 50px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.infoRowContentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.basicInfoLeft {
  width: 50%;
  min-width: 100px;
  text-align: left;
}

.basicInfoRight {
  width: 50%;
  min-width: 100px;
  text-align: left;
}

.pageSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  padding: 0;
}

.pageSelectorBtnPrev {
  content: "  ";
  background-image: url(../assets/icons/arrow-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.pageSelectorBtnNext {
  content: "  ";
  background-image: url(../assets/icons/arrow-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.pageSelectorBtnPrev:hover,
.pageSelectorBtnNext:hover {
  filter: brightness(80%);
}

.pageCurrent {
  width: 460px;
  color: white;
  text-shadow: 1px 1px 2px var(--color-darkgrey);
}

.pageCurrent b {
  color: white;
}

.pCardForm {
  align-items: center;
}

.pCardForm .basicInfoRight img {
  width: 50px;
  height: 50px;
}

.containerHeaderLeft {
  width: 20%;
  text-align: left;
}

.closeDialogMobile {
  display: none;
  z-index: 4;
}

@media (max-width: 736px) {
  main .inner {
    margin-top: 32px;
  }
}

@media (max-width: 500px) {
  .pCardTypes img {
    width: 24px;
  }

  .closeDialogMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 8px;
    background-color: var(--color-darkgrey);
    color: white;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .closeDialogMobile:hover {
    background-color: var(--main-color);
  }

  .pinfoHeader {
    flex-direction: column;
    gap: 16px;
  }

  .pinfoHeader .pId {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 28px;
    line-height: 1.5em;
  }

  .pInfo {
    padding: 16px;
  }

  .pInfo .pCardImg {
    min-width: 100px;
    width: 100px;
    height: 100px;
  }

  .card {
    gap: 12px;
  }

  .categoryBtn {
    padding: 4px 8px;
    font-weight: 600;
    font-size: var(--font-size);
  }

  .categoryInfobox {
    padding: 10px;
    height: 200px;
  }

  .pType {
    justify-content: center;
  }

  .pCard {
    max-width: unset;
    width: 90%;
  }

  .card:hover .pCardImg {
    scale: 1.2;
    transition: scale var(--transition);
  }

  .infoRowContentBox {
    gap: 6px;
  }
}
