:root {
  --site-color: #0e1436;
  --font-size: 18px;
  --header-height: 100px;
  --main-color: #F31D25;
  --main-color-hover: #ff676c;
  --header-bg-color: #F31D25;
  --footer-bg-color: #F31D25;
  --footer-height: 80px;
  --color-grey: #bebebe;
  --color-darkgrey: #555555;
  --color-light: #dadada;
  --transition: 0.1s ease-in;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  color: #212121;
}

html {
  font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}

hr {
  width:100%;
  color:#212121;
}

button {
  border:none;
  background-color: unset;
  width:unset;
  height:unset;
}

button:hover {
    cursor: pointer;
}

button:disabled {
  background-color: var(--color-darkgrey);
}

button:disabled:hover {
  scale: unset;
  background-color: var(--color-darkgrey);
  color:white;
  cursor:auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: var(--header-bg-color);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
}

header .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 4%;
}

.headerLogo {
  max-width: 240px;
}

.inner {
  padding: 4% 4%;
}

.site {
  min-height: calc(100vh - var(--footer-height));
  background-color: var(--site-color);
}

footer {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  background-color: var(--footer-bg-color);
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .inner {
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .inner p {
  font-weight: 500;
  color: #f7f6f1;
}

.dNone {
  display: none;
  opacity: 0;
  transition: opacity var(--transition);
}

.show {
  display: block;
  opacity: 1;
  transition: opacity var(--transition);
}
