:root {
    --fire-color: #e62828;
    --normal-color: #9FA19F;
    --water-color: #2980EF;
    --grass-color: #3fa129;
    --electric-color: #F9BF00;
    --ice-color: #3FD8FF;
    --fighting-color: #FF8000;
    --poison-color: #9141CB;
    --ground-color: #915121;
    --flying-color: #81B8EE;
    --psychic-color: #EF4179;
    --bug-color: #91A119;
    --rock-color: #B0A982;
    --ghost-color: #704170;
    --dragon-color: #5060E1;
    --dark-color: #50413F;
    --steel-color: #5FA0B6;
    --fairy-color: #EF70EF;
}

.bg-fire {
    background-color: var(--fire-color);
}

.bg-normal {
    background-color: var(--normal-color);
}

.bg-water {
    background-color: var(--water-color);
}

.bg-grass {
    background-color: var(--grass-color);
}

.bg-electric {
    background-color: var(--electric-color);
}

.bg-ice {
    background-color: var(--ice-color);
}

.bg-fighting {
    background-color: var(--fighting-color);
}

.bg-poison {
    background-color: var(--poison-color);
}

.bg-ground {
    background-color: var(--ground-color);
}

.bg-flying {
    background-color: var(--flying-color);
}

.bg-psychic {
    background-color: var(--psychic-color);
}

.bg-bug {
    background-color: var(--bug-color);
}

.bg-rock {
    background-color: var(--rock-color);
}

.bg-ghost {
    background-color: var(--ghost-color);
}

.bg-dragon {
    background-color: var(--dragon-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-steel {
    background-color: var(--steel-color);
}

.bg-fairy {
    background-color: var(--fairy-color);
}


.fireType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #e62828);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.fireType:hover {
  background-color: #e62828;
}

.normalType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9fa19f);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.normalType:hover {
  background-color: #9fa19f;
}

.waterType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #2980ef);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.waterType:hover {
  background-color: #2980ef;
}

.grassType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fa129);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.grassType:hover {
  background-color: #3fa129;
}

.electricType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #f9bf00);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.electricType:hover {
  background-color: #f9bf00;
}

.iceType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fd8ff);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.iceType:hover {
  background-color: #3fd8ff;
}

.fightingType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ff8000);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.fightingType:hover {
  background-color: #ff8000;
}

.poisonType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9141cb);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.poisonType:hover {
  background-color: #9141cb;
}

.groundType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #915121);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.groundType:hover {
  background-color: #915121;
}

.flyingType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #81b8ee);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.flyingType:hover {
  background-color: #81b8ee;
}

.psychicType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ef4179);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.psychicType:hover {
  background-color: #ef4179;
}

.bugType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #91a119);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.bugType:hover {
  background-color: #91a119;
}

.rockType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #b0a982);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.rockType:hover {
  background-color: #b0a982;
}

.ghostType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #704170);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.ghostType:hover {
  background-color: #704170;
}

.dragonType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5060e1);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.dragonType:hover {
  background-color: #5060e1;
}

.darkType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #50413f);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.darkType:hover {
  background-color: #50413f;
}

.steelType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5fa0b6);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.steelType:hover {
  background-color: #5fa0b6;
}

.fairyType {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ef70ef);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.fairyType:hover {
  background-color: #ef70ef;
}

.fireTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #e62828);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.normalTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9fa19f);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.waterTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #2980ef);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.grassTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fa129);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.electricTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #f9bf00);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.iceTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fd8ff);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.fightingTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ff8000);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.poisonTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9141cb);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.groundTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #915121);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.flyingTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #81b8ee);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.psychicTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ef4179);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.bugTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #91a119);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.rockTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #b0a982);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.ghostTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #704170);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.dragonTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5060e1);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}
.darkTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #50413f);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}

.steelTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5fa0b6);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}

.fairyTypeInfo {
  background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #ef70ef);
  background-color: rgb(197, 197, 197);
  transition: all var(--transition);
}