:root {
    --fire-color: #e62828;
    --normal-color: #9FA19F;
    --water-color: #2980EF;
    --grass-color: #3fa129;
    --electric-color: #F9BF00;
    --ice-color: #3FD8FF;
    --fighting-color: #FF8000;
    --poison-color: #9141CB;
    --ground-color: #915121;
    --flying-color: #81B8EE;
    --psychic-color: #EF4179;
    --bug-color: #91A119;
    --rock-color: #B0A982;
    --ghost-color: #704170;
    --dragon-color: #5060E1;
    --dark-color: #50413F;
    --steel-color: #5FA0B6;
    --fairy-color: #EF70EF;
}

.bg-fire {
    background-color: var(--fire-color);
}

.bg-normal {
    background-color: var(--normal-color);
}

.bg-water {
    background-color: var(--water-color);
}

.bg-grass {
    background-color: var(--grass-color);
}

.bg-electric {
    background-color: var(--electric-color);
}

.bg-ice {
    background-color: var(--ice-color);
}

.bg-fighting {
    background-color: var(--fighting-color);
}

.bg-poison {
    background-color: var(--poison-color);
}

.bg-ground {
    background-color: var(--ground-color);
}

.bg-flying {
    background-color: var(--flying-color);
}

.bg-psychic {
    background-color: var(--psychic-color);
}

.bg-bug {
    background-color: var(--bug-color);
}

.bg-rock {
    background-color: var(--rock-color);
}

.bg-ghost {
    background-color: var(--ghost-color);
}

.bg-dragon {
    background-color: var(--dragon-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-steel {
    background-color: var(--steel-color);
}

.bg-fairy {
    background-color: var(--fairy-color);
}


.typeFire {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #e62828);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeFire:hover {
    background-color: #e62828;
}

.typeNormal {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9FA19F);    
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeNormal:hover {
    background-color: #9FA19F;
}

.typeWater {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #2980EF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeWater:hover {
    background-color: #2980EF;
}

.typeGrass {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fa129);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeGrass:hover {
    background-color: #3fa129;
}

.typeElectric {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #F9BF00);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeElectric:hover {
    background-color: #F9BF00;
}

.typeIce {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3FD8FF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeIce:hover {
    background-color: #3FD8FF;
}

.typeFighting {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #FF8000);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeFighting:hover {
    background-color: #FF8000;
}

.typePoison {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9141CB);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typePoison:hover {
    background-color: #9141CB;

    h2 {color: var(--color-light);}
}

.typeGround {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #915121);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeGround:hover {
    background-color: #915121;

    h2 {color: var(--color-light);}
}

.typeFlying {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #81B8EE);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeFlying:hover {
    background-color: #81B8EE;
}

.typePsychic {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #EF4179);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typePsychic:hover {
    background-color: #EF4179;
}

.typeBug {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #91A119);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeBug:hover {
    background-color: #91A119;
}

.typeRock {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #B0A982);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeRock:hover {
    background-color: #B0A982;
}

.typeGhost {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #704170);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeGhost:hover {
    background-color: #704170;

    h2 {color: var(--color-light);}
}

.typeDragon {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5060E1);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeDragon:hover {
    background-color: #5060E1;

    h2 {color: var(--color-light);}
}

.typeDark {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #50413F);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeDark:hover {
    background-color: #50413F;

    h2 {color: var(--color-light);}
}

.typeSteel {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5FA0B6);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeSteel:hover {
    background-color: #5FA0B6;
}

.typeFairy {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #EF70EF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.typeFairy:hover {
    background-color: #EF70EF;
}

.pInfoTypeFire {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #e62828);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeNormal {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9FA19F);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeWater {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #2980EF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeGrass {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3fa129);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeElectric {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #F9BF00);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeIce {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #3FD8FF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeFighting {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #FF8000);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypePoison {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #9141CB);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeGround {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #915121);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeFlying {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #81B8EE);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypePsychic {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #EF4179);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeBug {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #91A119);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeRock {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #B0A982);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeGhost {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #704170);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeDragon {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5060E1);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeDark {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #50413F);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeSteel {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #5FA0B6);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}

.pInfoTypeFairy {
    background-image: radial-gradient(circle, rgba(197, 197, 197, 0), #EF70EF);
    background-color: rgb(197, 197, 197);
    transition: all var(--transition);
}
